body{
    background-color: rgb(28, 28, 71);
    color: white;
   
    font-size: 16px;

    
}
h1{
margin-left: 6em;
font-size: 3rem;

}
fieldset{
    border: none;
    margin-left: 10rem;
    margin-top: 3rem;
}
p{
    margin-left: 17em; 
    font-size: 17px; 
}
.input{
    width: 500px;
    background-color: #3b3b4f;
    border: none;
    height: 2rem;
}
.submit-button{
    margin-left: 19rem;
    width: 200px;
    background-color: #3b3b4f;
    color: white;
    height: 2rem;
    border: none;
 margin-top: 2rem;
}
.about{
    width: 500px; 
    border: none;
    height: 2rem;  
}
.bio{
    height: 4rem ;
}
.horizontal-line{
    color: solid gray;
    margin-right: 9rem;
    height: 2px;
    opacity: 2px;
    background-color: gray;
    border: none;

}
a{
    color: #dfdfe2;
}
.file{
    padding-top: 5px;
}